<section class="first-view center-vertical">
	<h1>MUSIC SNS!!!</h1>
	<% unless session[:user] %>
		<form action="/signin" method="post">
	    	<input name="name" placeholder="ユーザー名" required><br>
	   		<input type="password" name="password" placeholder="パスワード" required><br>
	    	<input type="submit" value="ログイン">
		</form>
	<% end %>
</section>

<section class="center-vertical">
	<h1>最新の投稿</h1>
	
	<% unless @posts.count == 0 %>
		<% @posts.each do |post| %>
			<div class="post center-vertical">
				<img src=<%= post.music_img %> width="125" height="125">
				<p>アーティスト： <%= post.artist_name %></p>
				<p>アルバム： <%= post.album_name %></p>
				<p>曲名： <%= post.music_name %></p>
				<p><a href="<%= post.music_sample %>">サンプル</a></p>
				<p>コメント： <%= post.comment%></p>
				<p>投稿者： <%= User.find(post.user_id).name %></p>
				<p>いいねしたユーザー</p>
				
				<% unless current_user.nil? %>
					<a href="/post/<%= post.id %>/favorite">いいね</a>
				<% end %> 
			</div>
		<% end %>
	<% else %>
		<p>投稿がありません</p>
	<% end %>
</section>
